/* ==============================================================
   Grid
   ============================================================== */


// Breakpoints
// ==============================================================

$mq-breakpoints: (
    small:       400px,
    medium:      600px,
    large:       980px,
    large-plus:  1250px,
    extra-large: 1500px
);


// Grid
// ==============================================================

$susy: (
  columns: 4,
  gutters: 0,
  global-box-sizing: border-box,
  output: isolate,
  debug: (
    image: hide
  )
);

$asym-grid: (
  columns: 1 4,
  gutters: 0,
  debug: (
    // image: show
  )
);

$content-grid: (
  columns: 14,
  gutters: 0.6,
);