/* ==============================================================
   Dividing Slash
   ============================================================== */

@mixin dividing-slash {
  color: tint($navy, 60);
  padding: 0 0.2rem;
  font-weight: normal;
}