<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" class="no-js">
  <head>
    <meta charset="utf-8" />
    <title>Welcome to 10pate</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="l-container js-container ">
      {{{body}}}
    </div>
    {{{block "pageScripts"}}}
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  </body>
</html>
